@use "sass:selector"
@use "../abstracts"


.cards-grid

	&__layout
		max-width: abstracts.columns(12)
		margin-inline: auto
		position: relative
		display: grid
		gap: 24px
		grid-template-columns: 1fr


		// =============================================================================
	// Tablet
	// =============================================================================

	+abstracts.media(tablet)

		&__layout
			grid-template-columns: repeat(2, 1fr)
			grid-auto-rows: 1fr

	// =============================================================================
	// Desktop
	// =============================================================================

	+abstracts.media(desktop)

		&__layout
			grid-template-columns: repeat(3, 1fr)


	// =============================================================================
	// Large Desktop
	// =============================================================================

	+abstracts.media(large-desktop)

		&__layout
			grid-template-columns: repeat(4, 1fr)
