@use "sass:selector"

@use "../abstracts"


// =============================================================================
// Card
// =============================================================================

.card
	$block: &

	+abstracts.color(neutral dirty-white)
	text-decoration: none
	+abstracts.transition(transform)
	position: relative

	img
		+abstracts.transition(transform)

	&:not(&.soon)
		+abstracts.hover(focus-visible)
			transform: scale(1.05)
			+abstracts.transition(transform)

			img
				transform: scale(1.05)
				+abstracts.transition(transform)

	// Layout
	// -----------------------------------------------------------------------------
	&__layout
		max-width: abstracts.columns(12)
		margin-inline: auto
		position: relative
		display: grid
		border: 1px solid abstracts.color(alpha semi-transparent-dirty-white)
		border-radius: 32px
		overflow: hidden

	// Content
	// -----------------------------------------------------------------------------
	&__content
		display: grid
		gap: 4px
		padding: 16px

	// Headings
	// -----------------------------------------------------------------------------
	&__heading
		order: 2

	// Labels
	// -----------------------------------------------------------------------------
	&__labels
		display: flex
		gap: 4px
		order: 1

	&__label
		padding: .1em .8em
		border-radius: 100vmax
		+abstracts.typography(body small)
		display: -webkit-box
		-webkit-line-clamp: 1
		-webkit-box-orient: vertical
		overflow: hidden

		&--design
			+abstracts.background(brand blue)
			+abstracts.color(neutral black)

		&--code
			+abstracts.background(brand orange)
			+abstracts.color(neutral black)

	// Description
	// -----------------------------------------------------------------------------
	&__description
		overflow: hidden
		display: -webkit-box
		-webkit-line-clamp: 3
		line-clamp: 3
		-webkit-box-orient: vertical
		order: 3

	&.soon
		cursor: not-allowed

		#{$block}__figure
			filter: blur(2px)
		#{$block}__content
			filter: blur(3px)

		#{$block}__layout
			&::before
				content: ''
				display: block
				width: 100%
				height: 100%
				position: absolute
				top: 0
				left: 0
				+abstracts.background(neutral black)
				opacity: .85
				z-index: 1

			&::after
				content: 'Coming soon'
				display: block
				position: absolute
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)
				+abstracts.typography(heading 4)
				text-align: center
				z-index: 2
