@use "../abstracts"


.image-text
	$block: &

	padding-inline: 24px

	&__layout
		max-width: abstracts.columns(12)
		margin-inline: auto
		position: relative

	&__content
		display: grid
		gap: 16px

	&__heading
		margin-bottom: 16px

	&--about
		img
			border-radius: 32px
			border: 1px solid abstracts.color(neutral dirty-white)


		// =============================================================================
	// Tablet
	// =============================================================================

	+abstracts.media(tablet)

		&--about
			img
				border-radius: 100vmax

	// =============================================================================
	// Desktop
	// =============================================================================

	+abstracts.media(desktop)

		&__content
			grid-template-columns: 2fr 1fr
			gap: 48px

		&__heading
			align-self: center
