@use "../abstracts"



// =============================================================================
// Intro
// =============================================================================

.intro
	$block: &

	padding-inline: 24px


	// Layout
	// -----------------------------------------------------------------------------
	&__layout
		margin-inline: auto
		height: 100vh
		position: relative

	// Heading
	// -----------------------------------------------------------------------------
	&__heading
		position: absolute
		bottom: 5vh

		.highlight
			+abstracts.color(brand orange)
			font-family: Degular, Helvetica, Arial, sans-serif
			font-weight: 600
			font-size: 1.1em
			letter-spacing: -0.02em

	// description
	// -----------------------------------------------------------------------------
	&__description
		margin-top: 16px


	// Center Modifier
	// -----------------------------------------------------------------------------
	&--center
		#{$block}__description
			text-align: center
