@use "../abstracts"


.intro
	$block: &

	padding-inline: 24px

	&__layout
		margin-inline: auto
		height: 100dvh
		position: relative

	&__heading
		position: absolute
		bottom: 5vh

	&__description
		margin-top: 16px

	&--center
		#{$block}__description
			text-align: center
