extends ../../../src/views/_layouts/base



block variables
	- title = 'Card'
	- section = 'portfolio'



block main

	+heading({
		htmlTag: 'h2',
		text: `${section}`
	})(class='sr-only')

	+cards-grid({
		modifiers: `${section}`,
		hasImage: true,
		headingTag: 'h3',
		headingTextModifiers: '3',
		cards: [
			{
				title: 'dope',
				slogan: 'A safer trip advisor',
				figureAlt: 'Dope - A safer trip advisor | For an informed drug consumption and testing.',
				labels: [
					{
						text: 'UX/UI Design',
						labelModifiers: 'design'
					},
				],
				description: 'A service to promote a safer and more informed use of drugs through testing, monitoring consumption sessions and providing information on drug types and strains, as well as emergency procedures.',
				soon: false
			},
			{
				title: 'airbnb',
				slogan: 'Guestbook Feature',
				figureAlt: 'Airbnb - Guestbook Feature',
				labels: [
					{
						text: 'UX/UI Design',
						labelModifiers: 'design'
					},
				],
				description: 'This feature allows users to share with other guests the experiences they have had not only at the residence but also at the place they are visiting, encouraging others to visit and experience the same.',
				soon: false
			},
			{
				title: 'fbaul',
				slogan: 'Alumni website design',
				figureAlt: 'FBAUL - Alumni website design',
				labels: [
					{
						text: 'UX/UI Design',
						labelModifiers: 'design'
					}
				],
				description: 'Designing an Alumni community website for the Faculty of Fine Arts of the University of Lisbon.',
				soon: false
			},
			{
				title: 'sango',
				slogan: 'Handmade creations',
				figureAlt: 'Sango - Handmade creations',
				labels: [
					{
						text: 'UX/UI Design',
						labelModifiers: 'design'
					},
					{
						text: 'Front-End',
						labelModifiers: 'code'
					}
				],
				description: 'This project was a total rebranding, from the logo to the website and online shop. The main aim was to develop the front-end of the whole Sango&apos;s website.',
				soon: false
			},
			{
				title: 'remind',
				slogan: 'Helping treat mental health disorders faster',
				figureAlt: 'Remind - Helping treat mental health disorders faster',
				labels: [
					{
						text: 'UX/UI Design',
						labelModifiers: 'design'
					}
				],
				description: 'Remind is an <abbr title="Artificial Intelligence">AI</abbr> powered app that bridges the gap between doctor/patient, helping to provide faster and more efficient diagnosis and treatment.',
				soon: true
			},
			{
				title: 'tinypink',
				slogan: 'Achieve incredible detail in your spray works ',
				figureAlt: 'Tinypink - Achieve incredible detail in your spray works ',
				labels: [
					{
						text: 'UX/UI Design',
						labelModifiers: 'design'
					}
				],
				description: 'Creating a design system and redesigning the Tinypink stencil cap e-commerce website.',
				soon: true
			},
		]
	})(id=`${section}`)
