extends ../../../src/views/_layouts/base



block variables
	- title = 'CTA'
	- section = 'contacts'



block main

	+heading({
		htmlTag: 'h2',
		text: `${section}`
	})(class='sr-only')

	+cta({
		modifiers: `${section}`,
		buttons: [
			{
				url: 'mailto:raulbmrp@gmail.com',
				target: '_blank',
				title: 'Write Raul an email',
				text: 'Get in touch <span class="sr-only">with Raul</span>',
				modifiers: 'secondary',
				iconFile: '/assets/images/contacts.svg',
				iconId: 'mail'
			}
		]
	})(id=`${section}`)
		.cta__text
			h3.heading--1 Let's Work Together!
