extends ../../../src/views/_layouts/base



block variables
	- error = true
	- title = 'Error'



block main

	+error({
		headingText: 'Error',
		description: '<strong>Everybody makes mistakes.</strong> <br>Especially me, who didn&apos;t remember to implement this awesome URL.',
		modifiers: 'error'
	})
