extends ../../../src/views/_layouts/base



block variables
	- title = 'Intro'




block main

	+intro({
		htmlTag: 'h1',
		text: 'Welcome to Raul Ramos Pinto Portfolio Website',
		textModifiers: '1',
		modifiers: 'landing-page'
	})
