extends ../../../src/views/_layouts/base



block variables
	- title = 'Intro'
	- section = 'intro'




block main

	+intro({
		modifiers: 'intro',
		htmlTag: 'h1',
		text: 'Welcome to Raul Ramos Pinto&apos;s portfolio website',
		textModifiers: '1'
	})(id='intro')
