extends ../../../src/views/_layouts/base



block variables
	- title = 'Intro'
	- section = 'intro'




block main

	+intro({
		modifiers: `${section}`,
		htmlTag: 'h1',
		text: 'Welcome to Raul Ramos Pinto Portfolio Website',
		textModifiers: '1'
	})(id="intro")
