@use "../abstracts"


.module:not(.error)

	&:not(.intro, #contact)
		margin-block: 288px
		opacity: 0
		+abstracts.transition(opacity transform, 1.5s ease)
		transform: translateY(100px)

		&.show
			opacity: 1
			+abstracts.transition(opacity transform, 1.5s ease)
			transform: translateY(0px)

	&:not(.intro, #resume)
		padding-top: 80px

	&:first-child
		margin-bottom: 288px

	&:last-child
		margin-top: 288px
