extends ../../../src/views/_layouts/base

block variables
	-
		error = true;
		title = 'Error 500';

block main

	+error({
		headingText: '500 Internal Server Error',
		description: '<strong>OOPS! <br>Something&apos;s gone wrong in our digital world.</strong> <br>While we&apos;re working to fix it, feel free to check out my <abbr title="Curriculum Vitae">CV</abbr>.',
		modifiers: '500',
		buttonText: 'Open CV <span class="sr-only">on a new tab</span>',
		buttonUrl: 'https://drive.google.com/file/d/1Uc-wgqqPp4Uw2_E73tsM8BS1mNxl-8Gs/view?usp=sharing',
		buttonModifiers: 'primary',
		buttonTarget: '_blank',
		buttonTitle: "Open Raul's CV on a new tab"
	})
