extends ../../../src/views/_layouts/base

block variables
	-
		project = true;
		title = 'Airbnb';
		slogan = 'Guestbook Feature';
		labels = ['UX/UI Design'];
		tags = ['<abbr title="User Experience">UX</abbr> Design', '<abbr title="User Interface">UI</abbr> Design', 'Product Design', '<abbr title="Application">App</abbr>', 'Sketches', 'Wireframes', 'Design System', 'Mockups', 'Prototype', 'Testing'];
		pageDescription = 'This feature allows users to share with other guests the experiences they have had not only at the residence but also at the place they are visiting, encouraging others to visit and experience the same.';
		buttons = [
			{
				social: 'behance',
				url: 'https://www.behance.net/gallery/137171571/Airbnb-Guestbook-Feature-UX-UI',
				urlLang: 'en'
			}
		];

block project
