extends ../../../src/views/_layouts/base

block variables
	-
		project = true;
		title = 'Dope';
		slogan = 'A safer trip advisor';
		labels = ['UX/UI Design'];
		tags = ['<abbr title="User Experience">UX</abbr> Design', '<abbr title="User Interface">UI</abbr> Design', 'Product Design', '<abbr title="Application">App</abbr>', 'Sketches', 'Wireframes', 'Design System', 'Mockups', 'Prototype', 'Testing'];
		pageDescription = 'A service to promote a safer and more informed use of drugs through testing, monitoring consumption sessions and providing information on drug types and strains, as well as emergency procedures.';
		buttons = [
			{
				social: 'behance',
				url: 'https://www.behance.net/gallery/154418651/Dope-MOBILE-APP',
				urlLang: 'en'
			}
		];

block project
