extends ../../../src/views/_layouts/base

block variables
	- error = true
	- title = 'Error 404'

block main

	+error({
		headingText: '404',
		description: '<strong>Everybody makes mistakes.</strong> <br>Especially me, who didn&apos;t remember to implement this awesome <abbr title="Uniform Resource Locator">URL</abbr>.',
		modifiers: '404',
		buttonText: 'Homepage',
		buttonUrl: '/',
		buttonModifiers: 'primary',
		buttonTarget: '_self',
		buttonUrlLang: 'en',
		buttonTitle: 'Go to the Homepage'
	})
