extends ../../../src/views/_layouts/base

block variables
	-
		project = true;
		title = 'FBAUL';
		slogan = 'Alumni website design';
		labels = ['UX/UI Design'];
		tags = ['<abbr title="User Experience">UX</abbr> Design', '<abbr title="User Interface">UI</abbr> Design', 'Product Design', 'Website', 'Sketches', 'Wireframes', 'Design System', 'Mockups', 'Prototype', 'Testing'];
		pageDescription = 'Designing an Alumni community website for the Faculty of Fine Arts of the University of Lisbon.';
		buttons = [
			{
				social: 'behance',
				url: 'https://www.behance.net/gallery/139852657/FBAUL-Alumni-Website',
				urlLang: 'en'
			}
		];

block project
