extends ../../../src/views/_layouts/base

block variables
	- project = true
	- title = 'Remind'
	- labels = ['UX/UI Design']
	- tags = ['<abbr title="User Experience">UX</abbr> Design', '<abbr title="User Interface">UI</abbr> Design', 'Product Design', '<abbr title="Application">App</abbr>', 'Sketches', 'Wireframes', 'Design System', 'Mockups', 'Prototype', 'Testing']
	- pageDescription = 'Remind is an AI powered app that bridges the gap between doctor/patient, helping to provide faster and more efficient diagnosis and treatment.'

block main
