extends ../../../src/views/_layouts/base

block variables
	- project = true
	- title = 'Sango'
	- slogan = 'Handmade creations'
	- labels = ['UX/UI Design', 'Front-End']
	- tags = ['<abbr title="User Interface">UI</abbr> Design', 'Website', 'Branding', 'Logo Design', 'E-commerce', 'Front-End Development', 'HTML', 'CSS', 'JavaScript']
	- pageDescription = 'This project was a total rebranding, from the logo to the website and online shop. The main aim was to develop the front-end of the whole Sango&apos;s website.'
	-
		buttons = [
			{
				social: 'behance',
				url: 'https://www.behance.net/gallery/135546783/Sango-UI-FRONT-END-DEVELOPMENT',
				urlLang: 'en'
			}
		]

block main
