extends ../../../src/views/_layouts/base

block variables
	- project = true
	- title = 'Tinypink'
	- labels = ['UX/UI Design']
	- tags = ['<abbr title="User Experience">UX</abbr> Design', '<abbr title="User Interface">UI</abbr> Design', 'Product Design', 'Website', 'Logo Design', 'E-commerce', 'Design System', 'Sketches', 'Mockups']
	- pageDescription = 'Creating a design system and redesigning the Tinypink stencil cap e-commerce website.'

block main
