@use "sass:selector"

@use "../abstracts"


// =============================================================================
// Project
// =============================================================================

.project
	$block: &

	padding-inline: 24px

	// Layout
	// -----------------------------------------------------------------------------
	&__layout
		max-width: abstracts.columns(12)
		margin-inline: auto
		position: relative

	// Cover
	// -----------------------------------------------------------------------------
	&__cover
		height: 100vh
		display: flex
		flex-direction: column
		justify-content: space-between
		// width: -webkit-fill-available

	// Top Container
	// -----------------------------------------------------------------------------
	&__top-container
		margin-top: 24px

		.button__icon
			transform: rotate(-90deg)

	// Bottom Container
	// -----------------------------------------------------------------------------
	&__bottom-container
		display: flex
		flex-direction: column
		padding-bottom: 48px
		// width: -webkit-fill-available
		gap: 16px

	// Heading
	// -----------------------------------------------------------------------------
	&__heading
		order: 2

	// Labels
	// -----------------------------------------------------------------------------
	&__labels
		order: 1
		display: flex
		gap: 8px
		flex-wrap: wrap

	&__label
		padding: .1em .8em
		border-radius: 100vmax
		border: 1px solid abstracts.color(neutral dirty-white)

	// Tags
	// -----------------------------------------------------------------------------
	&__tags
		order: 3
		display: grid
		grid-template-columns: repeat(2, auto)
		height: min-content
		margin-top: 48px

	// Intro
	// -----------------------------------------------------------------------------
	&__intro
		margin-block: 120px
		display: grid
		gap: 24px

	// Buttons
	// -----------------------------------------------------------------------------
	&__buttons
		display: flex
		gap: 24px
		flex-wrap: wrap

	// =============================================================================
	// Desktop
	// =============================================================================

	+abstracts.media(desktop)
		// Tags
		// -----------------------------------------------------------------------------
		&__tags
			grid-template-columns: repeat(3, 1fr)

		// Intro
		// -----------------------------------------------------------------------------
		&__intro
			grid-template-columns: 2fr 1fr
