mixin cta(options)

	section.module.cta(class=setModifiers(options.modifiers, 'cta--'))&attributes(attributes)

		if sectionHeading
			+heading({
				htmlTag: 'h2',
				text: `${sectionHeading}`
			})(class='sr-only')

		.cta__layout
			.cta__content
				.cta__buttons
					each button in options.buttons
						+button({
							text: button.text,
							modifiers: button.modifiers,
							url: button.url,
							target: button.target,
							urlLang: button.urlLang,
							title: button.title,
							iconFile: button.iconFile,
							iconId: button.iconId
						})

				if block
					block
