extends ../../../src/views/_layouts/base



block variables
	- title = 'Button'



block main

	+button({
		text: 'Primary Button',
		modifiers: 'primary',
		url: '#',
		urlLang: 'en',
		title: 'Primary Button',
		iconFile: '/assets/images/socials.svg',
		iconId: 'behance'
	})(
		target="_self"
	)

	br
	br

	+button({
		text: 'Primary Button Link',
		url: '#',
		iconFile: '/assets/images/resume.svg',
		iconId: 'education'
	})

	br
	br

	+button({
		text: 'Primary Button Disabled'
	})(
		disabled="disabled"
	)

	br
	br
	br
	br

	+button({
		text: 'Secondary Button',
		modifiers: 'secondary'
	})

	br
	br

	+button({
		text: 'Secondary Button Link',
		url: '#',
		modifiers: 'secondary'
	})

	br
	br

	+button({
		text: 'Secondary Button Disabled',
		modifiers: 'secondary'
	})(
		disabled="disabled"
	)

	br
	br
	br
	br

	+button({
		text: 'About',
		url: '#',
		modifiers: 'menu'
	})

	br

	+button({
		text: 'Resume',
		url: '#',
		modifiers: 'menu'
	})
