extends ../_layouts/base



block variables
	- title = 'Image Text'



block main

	+image-text({
		htmlTag: 'h2',
		text: "I'm a UX Designer and Front-End Web Developer based in Porto.",
		textModifiers: '1',
		file: 'profile',
		name: 'raul-ramos-pinto',
		alt: 'Raul Ramos Pinto black and white portrait',
		title: 'Raul Ramos Pinto portrait',
		sizesMobile: 100,
		sizesDesktop: 50,
		widthMobileX1: 320,
		widthMobileX2: 475,
		widthDesktopX1: 768,
		widthDesktopX2: 1200,
		loading: 'lazy',
		modifiers: 'about'
	})(id='about')
		p
			| As a passionate Front-End Developer, I have expertise in HTML, CSS, and JavaScript, placing a strong emphasis on creating accessible and user-friendly websites. By combining a keen eye for UX and UI Design, I seamlessly blend aesthetics with functionality to deliver captivating and responsive digital experiences. Employing a problem-solving mindset, I tackle challenges head-on, discovering innovative solutions for optimal results.
		p
			| In my free time, I enjoy painting and have been creating murals under the name Kilos since 2016.
			br
			| As a professional basketball player since 2007, I have represented 6 teams, 1 association, and 1 university.
