@use "sass:selector"

@use "../abstracts"



// =============================================================================
// Link
// =============================================================================

.link
	$block: &

	&--title
		+abstracts.link-orangeText-orangeUnderline-blackBg

	&--text
		+abstracts.link-dirtyWhiteText-orangeUnderline-blackBg

	&:focus-visible
		box-shadow: unset
		outline-width: 3px
